* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

.dashboard {
  height: 80vh;
  background: url("images/dashboard-bg.png");
}
