* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

.dashboard {
  height: 100vh;
  /* padding: 24px; */
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #66a1c9;
  padding: 14px;
}

.user-data {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin: auto;
  padding: 5px;
}

.transactions {
  padding: 24px;
  overflow-x: scroll;
  height: 60vh;
}
